.disclosure {
  @apply md:h-[600px] bg-[#f1e7e6] md:flex py-6 px-2 md:py-0 justify-around items-center md:px-[30px] lg:px-[50px] my-10;

  background-image: url('/steps.svg');
  background-repeat: no-repeat;
  background-size: contain;
}

.disclosure_img {
  @apply md:block my-4 md:my-0 md:w-[380px] lg:w-[400px] bg-gray-300 h-[400px];

  background-image: url('/disclosure/disclosure.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
