.card {
}

.card_img {
  @apply w-full h-full aspect-[3/2] relative rounded-lg;
}

.card_img::after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  content: '';
}
